* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    height: 100vh;
    background: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.body {
    max-width: 1600px;
    height: 768px;
    margin: 25px auto;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 11px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}